streamlit
python-dotenv

pandas
sqlalchemy
psycopg2-binary

langchain
langchain-community
langchain-core
langchain-huggingface
langchain-groq
sentence-transformers
faiss-cpu

typing-extensions

torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu